# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
*.env.local

# Node
node_modules/
dist/
.npm

# Uploads & temp files
backend/uploads/*
!backend/uploads/.gitkeep

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic
backend/alembic/versions/*.pyc
